[submodule "themes/hugo-identity-theme"]
  path = themes/hugo-identity-theme
  url = https://github.com/aerohub/hugo-identity-theme
[submodule "public"]
	path = public
	url = https://github.com/stepanhruda/stepanhruda.github.io.git
